@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$color-primary: linen;
$color-secondary: olivedrab;



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family:'Comfortaa', sans-serif;
  background-color: $color-primary;
}

.container{
  padding: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  color: $color-primary;
  background-color: $color-secondary;
}
.header-nav{
  display: flex;
  justify-content: space-between;
  min-width: 30%;
  .header-nav-link{
    text-decoration: none;
    color: $color-primary;
  }
  .active{
    font-size: 17px;
  }
}

.body-container{
  min-width: 100%;
  min-height: 600px;
}

.body{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

    .body-title{
      color: $color-secondary;
      text-align: center;
      margin-top: 20px;
    }

    p{
      margin-top: 15px;
    }
}

.footer{
  text-align: end;
  padding: 20px;
  color: $color-primary;
  background-color: $color-secondary;
}

.btn{
  display: inline-block;
  color: $color-primary;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
}
.form-container{
  margin-left: auto;
  padding: 50px;
  width: 550px;

  .form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 440px;
  }
  .form-control{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
  }
  .form-btn{
    color: $color-primary;
    background-color: $color-secondary;
  }
  .form-input{
    margin: 3px;
    padding-left: 3px;
    min-height: 50px;
    border-radius: 5px;
  }
}
