.container{
  padding: 10px;
}
.header{
  text-align: center;
  padding: 20px;
  color: grey;
  background-color: gainsboro;
}
.body{
 display: flex;
 justify-content: center;
}
.footer{
  text-align: end;
  padding: 20px;
  color: gainsboro;
  background-color: grey;

}
